<footer>
  <div class="navbar navbar-default navbar-fixed-bottom">
    <div>
       <%= link_to 'Grizzly Feed', hash_route(home_path), class: 'btn btn-link navbar-btn navbar-brand bearpaw' %>
      <div class="nav navbar-nav navbar-right">
        <% if signed_in? %>
          <%= link_to 'Donate', hash_route(support_path), class: 'btn btn-success navbar-btn' %>
          <%= link_to 'Feedback', feedback_path, class: 'btn btn-link navbar-btn' %>
        <% end %>
        <%= link_to 'About', hash_route(about_path), class: 'btn btn-link navbar-btn' %>
        <%= link_to 'Privacy & Terms', hash_route(policies_path), class: 'btn btn-link navbar-btn' %>
      </div>
    </div>
  </div>
</footer>

<script>
  var container = document.getElementsByClassName('container')[0];
  var headerHeight = document.getElementsByClassName('navbar-fixed-top')[0].offsetHeight;
  var footerHeight = document.getElementsByTagName('footer')[0].offsetHeight;
  var windowHeight = window.innerHeight;

  container.style.minHeight = (windowHeight - headerHeight - footerHeight) + "px"; 
</script>